    /*
    Flaticon icon font: Flaticon
    Creation date: 23/10/2016 08:50
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-add:before { content: "\f100"; }
.flaticon-circle:before { content: "\f101"; }
.flaticon-circle-1:before { content: "\f102"; }
.flaticon-commerce:before { content: "\f103"; }
.flaticon-facebook-logo:before { content: "\f104"; }
.flaticon-facebook-logo-button:before { content: "\f105"; }
.flaticon-facebook-placeholder-for-locate-places-on-maps:before { content: "\f106"; }
.flaticon-info:before { content: "\f107"; }
.flaticon-information-button:before { content: "\f108"; }
.flaticon-instagram-logo:before { content: "\f109"; }
.flaticon-instagram-logo-1:before { content: "\f10a"; }
.flaticon-interface:before { content: "\f10b"; }
.flaticon-market:before { content: "\f10c"; }
.flaticon-shopping:before { content: "\f10d"; }
.flaticon-symbol:before { content: "\f10e"; }
.flaticon-technology:before { content: "\f10f"; }
.flaticon-telephone:before { content: "\f110"; }
.flaticon-telephone-1:before { content: "\f111"; }
.flaticon-user:before { content: "\f112"; }
.flaticon-youtube-logo:before { content: "\f113"; }
.flaticon-youtube-logotype:before { content: "\f114"; }
.flaticon-youtube-logotype-1:before { content: "\f115"; }
    
    $font-Flaticon-add: "\f100";
    $font-Flaticon-circle: "\f101";
    $font-Flaticon-circle-1: "\f102";
    $font-Flaticon-commerce: "\f103";
    $font-Flaticon-facebook-logo: "\f104";
    $font-Flaticon-facebook-logo-button: "\f105";
    $font-Flaticon-facebook-placeholder-for-locate-places-on-maps: "\f106";
    $font-Flaticon-info: "\f107";
    $font-Flaticon-information-button: "\f108";
    $font-Flaticon-instagram-logo: "\f109";
    $font-Flaticon-instagram-logo-1: "\f10a";
    $font-Flaticon-interface: "\f10b";
    $font-Flaticon-market: "\f10c";
    $font-Flaticon-shopping: "\f10d";
    $font-Flaticon-symbol: "\f10e";
    $font-Flaticon-technology: "\f10f";
    $font-Flaticon-telephone: "\f110";
    $font-Flaticon-telephone-1: "\f111";
    $font-Flaticon-user: "\f112";
    $font-Flaticon-youtube-logo: "\f113";
    $font-Flaticon-youtube-logotype: "\f114";
    $font-Flaticon-youtube-logotype-1: "\f115";